# Loki 개발 환경 설정

singleBinary:
  replicas: 1
  
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  
  persistence:
    enabled: true
    size: 5Gi

loki:
  commonConfig:
    replication_factor: 1
  
  limits_config:
    retention_period: 24h
    max_query_lookback: 24h
