image:
  tag: "2.7"

connect:
  groupId: popcorn-connect-dev
  configStorageReplicationFactor: 1
  offsetStorageReplicationFactor: 1
  statusStorageReplicationFactor: 1

pod:
  resources:
    requests:
      cpu: 200m
      memory: 384Mi
    limits:
      cpu: 400m
      memory: 768Mi

