replicaCount: 0

image:
  tag: "2.7.3.Final"

kafka:
  bootstrapServers: kafka-prod:9092

connect:
  groupId: popcorn-connect-dev
  configStorageReplicationFactor: 1
  offsetStorageReplicationFactor: 1
  statusStorageReplicationFactor: 1

pod:
  resources:
    requests:
      cpu: 200m
      memory: 384Mi
    limits:
      cpu: 400m
      memory: 768Mi

connectorBootstrap:
  enabled: false
