apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" . }}-config
  labels:
    {{- include "common.labels" . | nindent 4 }}
data:
  SERVER_PORT: "8086"
  DB_HOST: "goorm-popcorn-prod-postgres.cds4g0gykt3t.ap-northeast-2.rds.amazonaws.com"
  DB_PORT: "5432"
  DB_NAME: "popcorn_prod"
  REDIS_HOST: "master.goorm-popcorn-cache-prod.mkltth.apn2.cache.amazonaws.com"
  REDIS_PORT: "6379"
  KAFKA_BOOTSTRAP_SERVERS: "kafka-prod.kafka.svc.cluster.local:9092"
  QR_TIMEOUT: "15000"
  MAX_ENTRIES: "10000"
  QR_NOTIFICATION_ENABLED: "true"
  QR_NOTIFICATION_RETRY: "5"
