{{- include "common.service" . }}
{{- if and .Values.rollout.enabled (eq (default "blueGreen" .Values.rollout.strategy) "blueGreen") }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.fullname" . }}-preview
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "common.selectorLabels" . | nindent 4 }}
{{- end }}
