apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" . }}-config
  labels:
    {{- include "common.labels" . | nindent 4 }}
data:
  DB_HOST: "goorm-popcorn-prod-postgres.cds4g0gykt3t.ap-northeast-2.rds.amazonaws.com"
  DB_PORT: "5432"
  DB_NAME: "popcorn_prod"
  KAFKA_BOOTSTRAP_SERVERS: "kafka-prod.kafka.svc.cluster.local:9092"
  KAFKA_CONSUMER_GROUP_ID: "stores-group"
  STORE_KAFKA_CONSUMER_GROUP_ID: "stores-group"
  SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka-prod.kafka.svc.cluster.local:9092"
  SPRING_KAFKA_CONSUMER_GROUP_ID: "stores-group"
  KAFKA_LISTENER_CONCURRENCY: "3"
  KAFKA_TOPIC_REPLICAS: "1"
  STORE_EVENTS_PARTITIONS: "12"
