# Mimir 운영 환경 설정

distributor:
  resources:
    requests:
      cpu: 100m
      memory: 192Mi
    limits:
      cpu: 300m
      memory: 512Mi

ingester:
  resources:
    requests:
      cpu: 200m
      memory: 384Mi
    limits:
      cpu: 600m
      memory: 1Gi
  persistentVolume:
    size: 20Gi

querier:
  resources:
    requests:
      cpu: 80m
      memory: 192Mi
    limits:
      cpu: 250m
      memory: 512Mi

query_frontend:
  resources:
    requests:
      cpu: 80m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 384Mi

query_scheduler:
  resources:
    requests:
      cpu: 80m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 384Mi

store_gateway:
  resources:
    requests:
      cpu: 120m
      memory: 256Mi
  limits:
      cpu: 400m
      memory: 640Mi
  persistentVolume:
    size: 20Gi

compactor:
  resources:
    requests:
      cpu: 120m
      memory: 256Mi
  limits:
      cpu: 400m
      memory: 640Mi
  persistentVolume:
    size: 20Gi

minio:
  resources:
    requests:
      cpu: 80m
      memory: 128Mi
  limits:
      cpu: 250m
      memory: 384Mi
