# Kafka UI 운영 환경 설정

replicas: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

ingress:
  enabled: true
  annotations:
    alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:ap-northeast-2:375896310755:certificate/085e3315-785c-480d-93c2-57f656b60f7b"
    alb.ingress.kubernetes.io/ssl-redirect: "443"
  hosts:
    - host: kafka-ui.goormpopcorn.shop
      paths:
        - path: /
          pathType: Prefix

yamlApplicationConfig:
  kafka:
    clusters:
      - name: popcorn-kafka
        bootstrapServers: kafka:9092
        properties:
          security.protocol: PLAINTEXT
  
  auth:
    type: disabled
  
  management:
    health:
      ldap:
        enabled: false

env:
  - name: KAFKA_CLUSTERS_0_NAME
    value: "popcorn-kafka"
  - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
    value: "kafka:9092"
  - name: DYNAMIC_CONFIG_ENABLED
    value: "true"
