# Tempo 개발 환경 설정

singleBinary:
  replicas: 1
  
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  
  persistence:
    enabled: true
    size: 5Gi

tempo:
  retention: 24h  # 1일
