# Tempo 공통 기본 설정

service:
  type: ClusterIP

tolerations:
  - key: karpenter.sh/spot
    operator: Exists
    effect: NoSchedule

persistence:
  enabled: true
  storageClassName: gp3
  size: 10Gi

tempo:
  pullPolicy: IfNotPresent
  retention: 168h

  # OTel Collector가 전송할 수신 포트
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  storage:
    trace:
      backend: local
      local:
        path: /var/tempo/traces
      wal:
        path: /var/tempo/wal

  metricsGenerator:
    enabled: false

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 400m
      memory: 512Mi

# 차트 테스트 비활성화
test:
  enabled: false
