# Tempo 운영 환경 설정

persistence:
  enabled: true
  storageClassName: gp3
  size: 20Gi

tempo:
  retention: 168h
  memBallastSizeMbs: 256

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
