# Tempo 운영 환경 설정

persistence:
  enabled: true
  storageClassName: gp3
  size: 20Gi

tempo:
  retention: 168h
  memBallastSizeMbs: 0

  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 2Gi
