# Tempo 개발 환경 설정

persistence:
  enabled: true
  storageClassName: gp3
  size: 5Gi

tempo:
  retention: 24h

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
