loki-stack:
  singleBinary:
    replicas: 1

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

    persistence:
      enabled: true
      size: 5Gi

  loki:
    commonConfig:
      replication_factor: 1

    limits_config:
      retention_period: 24h
      max_query_lookback: 24h

tempo:
  persistence:
    enabled: true
    storageClassName: gp3
    size: 5Gi

  tempo:
    retention: 24h

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

mimir:
  distributor:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  ingester:
    resources:
      requests:
        cpu: 100m
        memory: 192Mi
      limits:
        cpu: 300m
        memory: 384Mi
    persistentVolume:
      size: 5Gi

  querier:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  query_frontend:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  query_scheduler:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  store_gateway:
    resources:
      requests:
        cpu: 100m
        memory: 192Mi
      limits:
        cpu: 300m
        memory: 384Mi
    persistentVolume:
      size: 5Gi

  compactor:
    resources:
      requests:
        cpu: 100m
        memory: 192Mi
      limits:
        cpu: 300m
        memory: 384Mi
    persistentVolume:
      size: 5Gi

  minio:
    persistence:
      size: 5Gi
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

grafana:
  replicas: 1

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  ingress:
    enabled: false

  persistence:
    enabled: true
    size: 5Gi

  adminPassword: admin

  env:
    GF_SERVER_ROOT_URL: "http://localhost:3000"

  grafana.ini:
    server:
      root_url: "http://localhost:3000"
